@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;700&display=swap");

@import "tailwindcss";

@theme {
  --font-sans: "Lexend Deca", sans-serif;
  --color-green-400: #0f0;
  --color-slate-100: #f5f5f5;
  --color-stone-400: #bbb;
}
